<ion-content>
    <ion-grid class="height-100">
        <ion-row class="height-100">
            <ion-col size-sm="6" offset-sm="3" class="ion-text-center ion-align-self-center">
                <ion-img src="assets/images/logo.png"></ion-img>


                <ion-text>
                    <h1 class="secondary-text">Edge App</h1>
                    <h2 class="tertiary-text">Copyright 2019</h2>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
