<ion-header>
    <ion-toolbar>
        <ion-title>Pick your Level</ion-title>

        <ion-item slot="primary">
            <ion-label>Include lower belts</ion-label>
            <ion-checkbox [(ngModel)]="isLowerBeltsIncluded" slot="end"></ion-checkbox>
        </ion-item>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="ion-text-wrap white-background"
                            [routerLink]="['/select-question-category', 10]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">
                    White Belt
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="white-background stripe stripe-yellow"
                            [routerLink]="['/select-question-category', 20]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Yellow Stripe
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="yellow-background" [routerLink]="['/select-question-category', 30]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Yellow Belt
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="yellow-background stripe stripe-green"
                            [routerLink]="['/select-question-category', 40]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Green Stripe
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="green-background" [routerLink]="['/select-question-category', 50]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Green Belt
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="green-background stripe stripe-blue"
                            [routerLink]="['/select-question-category', 60]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Blue Stripe
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="blue-background" [routerLink]="['/select-question-category', 70]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Blue Belt
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="blue-background stripe stripe-red"
                            [routerLink]="['/select-question-category', 80]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Red Stripe
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="red-background" [routerLink]="['/select-question-category', 90]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Red Stripe
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="red-background stripe stripe-black"
                            [routerLink]="['/select-question-category', 100]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">Black Stripe
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background" [routerLink]="['/select-question-category', 110]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">I DEGREE
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background" [routerLink]="['/select-question-category', 120]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">II DEGREE
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background" [routerLink]="['/select-question-category', 130]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">III DEGREE
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background" [routerLink]="['/select-question-category', 140]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">IV DEGREE
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background" [routerLink]="['/select-question-category', 150]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">V DEGREE
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background" [routerLink]="['/select-question-category', 160]"
                            [queryParams]="{'isLowerBeltsIncluded': isLowerBeltsIncluded}">VI DEGREE
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
