<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Pick your Level</ion-title>

        <ion-item slot="primary">
            <ion-label>Include lower belts</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="white-background">White Belt</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="white-background stripe stripe-yellow">Yellow Stripe</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="yellow-background">Yellow Belt</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="yellow-background stripe stripe-green">Green Stripe</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="green-background">Green Belt</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="green-background stripe stripe-blue">Blue Stripe</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="blue-background">Blue Belt</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="blue-background stripe stripe-red">Red Stripe</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="red-background">Red Stripe</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="red-background stripe stripe-black">Black Stripe</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background">I DEGREE</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background">II DEGREE</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background">III DEGREE</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background">IV DEGREE</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background">V DEGREE</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size-sm="8" offset-sm="2">
                <ion-button expand="full" class="black-background">VI DEGREE</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
