<ion-content>
    <ion-grid class="height-100 flex flex-direction-column">
        <ion-row class="ion-justify-content-center ion-align-items-end flexGrow1">
            <ion-col size-sm="8">
                <ion-img src="assets/images/secondary-splash-screen/text-1.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-center flexGrow1">
            <ion-col size-sm="8">
                <ion-img class="image-content opacity-0" appTimeoutRemoveClass timeout="1000" removeClass="opacity-0"
                         src="assets/images/secondary-splash-screen/text-2.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center ion-align-items-start flexGrow1">
            <ion-col size-sm="8">
                <ion-img class="image-content opacity-0" appTimeoutRemoveClass timeout="2000" removeClass="opacity-0"
                         src="assets/images/secondary-splash-screen/text-3.png"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
