<ion-content>
    <ion-grid class="height-100">
        <ion-row class="height-100">
            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full">Vocabulary</ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full">Patterns</ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" disabled>sss</ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" disabled>Qualities of a Good Instructor
                </ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>

            <ion-col size-sm="4" size-xs="6">
                <ion-button class="ion-text-wrap height-100" expand="full" color="dark" disabled></ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
