<ion-text color="primary ion-text-center">
    <h4>{{questionItem.text}}</h4>
</ion-text>

<ion-list>
    <ion-radio-group name="selectedAnswer" [(ngModel)]="selectedAnswer">
        <ion-item *ngFor="let option of questionItem.options">
            <ion-label>{{option}}</ion-label>
            <ion-radio slot="start" [value]="option"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>

<ion-button expand="full" (click)="submitAnswer()" [disabled]="!selectedAnswer">Submit</ion-button>
