// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ee2f25;
  --ion-color-primary-rgb: 238, 47, 37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d12921;
  --ion-color-primary-tint: #f0443b;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #feecd4;
  --ion-color-tertiary-rgb: 254, 236, 212;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0d0bb;
  --ion-color-tertiary-tint: #feeed8;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  /** Background and Text step colors **/
  --ion-background-color: #222428;
  --ion-background-color-rgb: 34, 36, 40;

  --ion-text-color: #ee2f25;
  --ion-text-color-rgb: 238, 47, 37;

  --ion-color-step-50: #2c2528;
  --ion-color-step-100: #362528;
  --ion-color-step-150: #412628;
  --ion-color-step-200: #4b2627;
  --ion-color-step-250: #552727;
  --ion-color-step-300: #5f2727;
  --ion-color-step-350: #692827;
  --ion-color-step-400: #742827;
  --ion-color-step-450: #7e2927;
  --ion-color-step-500: #882a27;
  --ion-color-step-550: #922a26;
  --ion-color-step-600: #9c2b26;
  --ion-color-step-650: #a72b26;
  --ion-color-step-700: #b12c26;
  --ion-color-step-750: #bb2c26;
  --ion-color-step-800: #c52d26;
  --ion-color-step-850: #cf2d25;
  --ion-color-step-900: #da2e25;
  --ion-color-step-950: #e42e25;

}
