<ion-header>
    <ion-toolbar>
        <ion-title>Question</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ng-container *ngFor="let question of questions; let i = index">
                    <ng-container *ngIf="currentQuestionNumber === i">
                        <app-question10 (success)="onSuccessAnswer()" (fail)="onFailAnswer()" [question]="question"
                                        *ngIf="question.questionTypeId === 10"></app-question10>
                    </ng-container>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
